/*the styling for the parallax scrolling effect*/
/*the styling for the first section and the "skills header"*/

@import url('https://fonts.googleapis.com/css?family=Roboto:300');




body, html {
    height: 100%;
    padding:0!important;
    margin: 0!important;
    font-family: 'Anonymous Pro', monospace;
    color: #777;
    min-height: 100%;
}
/**settings for the 3 main images that will allow for the parallax scrolling effect*/
.bgimg-1, .bgimg-2, .bgimg-3 {
    
    position: relative;
    opacity: 0.65;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 100%;
    background-image: url('images/1640.jpg');
    color: dimgray;
}



.second, .third, .fourth {
    background-color: black;
}

.first {
    height: 450px;
    background-color: #C0C0C0;
    display: flex;
    justify-content: space-around;
}

/*this style sheet section is for the about me in the second background image*/


.bgimg-2 {
    background-image: url('images/1640.jpg');
    min-height: 600px;
    opacity: 0.75;
    
}


    
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}


/*this is for the cards in the about me*/
html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


p {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
}

.grid-block {
    display: block;
    text-align: center;
    width: 100%;
}

.flip-container {
    display: inline-block;
    height: 300px !important;
    margin: 10px;
    width: 180px !important;
    position: relative;
    perspective: 800px;
}

    .flip-container:hover .flip-card {
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }

.flip-card {
    width: 100%;
    height: 100%;
    position: absolute;
    transform-style: preserve-3d;
    transition: transform 0.6s;
}

    .flip-card > div {
        margin: 0;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
    }

    .flip-card .front-face {
        padding: 8px;
    }

        .flip-card .front-face img {
            height: 120px;
            margin: 15px 15px 0;
            width: 120px;
        }

        .flip-card .front-face span {
            color: #fff;
            font-size: 24px;
            text-align: center;
        }

    .flip-card .back-face-center {
        transform: rotateY(180deg);
        cursor: default;
    }

        .flip-card .back-face-center p {
            color: #fff;
            font-size: 18px;
            margin: 0;
            padding: 8px;
        }

#f1 .front-face, #f1 .back-face-center {
    background-color: #e84c3d;
}

    #f1 .front-face img {
        background: rgba(0, 0, 0, 0) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/techmodal-icon-sprite.png) repeat scroll 0 0;
    }

#f2 .front-face, #f2 .back-face-center {
    background-color: #2a80b9;
}

    #f2 .front-face img {
        background: rgba(0, 0, 0, 0) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/techmodal-icon-sprite.png) repeat scroll -120px 0;
    }

#f3 .front-face, #f3 .back-face-center {
    background-color: #16a086;
}

    #f3 .front-face img {
        background: rgba(0, 0, 0, 0) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/techmodal-icon-sprite.png) repeat scroll -240px 0;
    }

#f4 .front-face, #f4 .back-face-center {
    background-color: #9b58b5;
}

    #f4 .front-face img {
        background: rgba(0, 0, 0, 0) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/techmodal-icon-sprite.png) repeat scroll -480px 0;
    }

#f5 .front-face, #f5 .back-face-center {
    background-color: #f39c11;
}

    #f5 .front-face img {
        background: rgba(0, 0, 0, 0) url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/9487/techmodal-icon-sprite.png) repeat scroll -360px 0;
    }
