/**This style sheet contains the CSS effect for spinning cubes within the skills section and for the typewriter effect on the entry page*/

/*contains the styling effects for the giphy background of the "skills"/"about me"/"projects" title*/
/*.skillscontainer {
    background-color: #C0C0C0;
}
    */
.skillscontainer {
    display: flex;
    justify-content: center;
}

/***************/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 300px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close:hover,
    .close:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

/* The Modal (background) */
.modal2 {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 400px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content2 {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

    .close2:hover,
    .close2:focus {
        color: #000;
        text-decoration: none;
        cursor: pointer;
    }

    /*****************************/

.dropdown {
    display:flex;
    justify-content:center;
    /*position: relative;
    display: inline-block;*/
}

/*.front*/
#dropbtn {
    font-size: 65px;
    font-weight: bold;
    background: url(https://media.giphy.com/media/8PB5LrvSuhOP6/giphy.gif);
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    /*set to transparent, otherwise won't see the background*/
    display: flex;
    justify-content: center;
    width: 400px;
 

    box-sizing: border-box;
    border: 5px solid black;
    cursor: pointer;
}

#dropbtn2 {
    font-size: 65px;
    font-weight: bold;
    background: url(https://media.giphy.com/media/8PB5LrvSuhOP6/giphy.gif);
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    /*set to transparent, otherwise won't see the background*/
    display: flex;
    justify-content: center;
    width: 400px;
    margin-top: -5vh;
    box-sizing: border-box;
    border: 5px solid black;
    cursor: pointer;
}


.back {
    background: url(https://media.giphy.com/media/8PB5LrvSuhOP6/giphy.gif);
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    /*set to transparent, otherwise won't see the background*/
    margin-left: 37%;
    margin-right: 37%;
    display: flex;
    justify-content: center;
    width: 400px;
    margin-top: 0vh;
    box-sizing: border-box;
    border: 5px solid black;
}
.aboutme{
margin-left: 37%;
    margin-right: 37%;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    background: url(https://media.giphy.com/media/8PB5LrvSuhOP6/giphy.gif);
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    /*set to transparent, otherwise won't see the background*/
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    flex-shrink: 0;
    border: 5px solid black;

}

.skills {
    margin-left: 37%;
    margin-right: 37%;
    margin-top: 0vh;
    display: flex;
    justify-content: center;
    background: url(https://media.giphy.com/media/8PB5LrvSuhOP6/giphy.gif);
    background-size: cover;
    -webkit-background-clip: text;
    color: transparent;
    /*set to transparent, otherwise won't see the background*/
    width: 400px;
    height: 100px;
    box-sizing: border-box;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;
    flex-shrink: 0;
    border: 5px solid black;
}

.skillslist {
    margin-left: 37%;
    margin-right: 37%;
    height: 200px;
    width: 400px;
    background-color: black;
}

#skillsDescription {
  border: 2px solid black;
}
#class{
    height:20vh;
    width:20vw;
}
#click {
    margin-top: 3.5vh;
    margin-left: 3.5vw;
    height: 40px;
    width: 40px;
}
#click2 {
    /*background-color: rgba(0,0,0,0);
    margin-top: 3.5vh;
    margin-left: 3.5vw;*/
    height: 40px;
    width: 40px;
}
/* keyframes for rotating animation */
@-webkit-keyframes spin {
    from {
        transform: rotateY(0);
    }

    to {
        transform: rotateY(360deg);
    }
}

/* scene wrapper */
.wrapper {
    height: 300px;
    margin-top: 15%;
    position: relative;
    perspective: 800;
    perspective-origin: 50% 100px;
}

/* cube wrapper */
.cube {
    position: relative;
    margin: 0 auto;
    width: 200px;
    transform-style: preserve-3d;
    animation: spin 25s infinite linear;
    transition: all 1s linear;
}

/* outer cube */
b {
    position: absolute;
    width: 200px;
    height: 200px;
    display: block;
    background: rgba(255,255,255,0.1);
    box-shadow: inset 0 0 30px rgba(0,0,0,0.2);
    font-size: 20px;
    text-align: center;
    line-height: 200px;
    color: white;
    font-family: 'Anonymous Pro', monospace;
    text-transform: uppercase;
    transition: all 1s linear;
}

    b.back {
        transform: translateZ(-100px) rotateY(180deg);
    }

    b.right {
        transform: rotateY(-270deg) translateX(100px);
        transform-origin: top right;
    }

    b.left {
        transform: rotateY(270deg) translateX(-100px);
        transform-origin: center left;
    }

    b.top {
        transform: rotateX(-90deg) translateY(-100px);
        transform-origin: top center;
    }

    b.bottom {
        transform: rotateX(90deg) translateY(100px);
        transform-origin: bottom center;
    }

    b.front {
        transform: translateZ(100px);
    }

/* inner cube */
i {
    position: absolute;
    top: 50px;
    left: 50px;
    width: 100px;
    height: 100px;
    display: block;
    /*background: url(http://i45.tinypic.com/muxvt1.png);*/
    background-color: dimgray;
    opacity: 0.0;
    /*transition: all 1s linear;*/
}

    i.front {
        transform: translateZ(50px);
    }

    i.back {
        transform: translateZ(-50px) rotateY(180deg);
    }

    i.bottom {
        transform: rotateX(-90deg) translateY(50px);
        transform-origin: left bottom;
    }

    i.left {
        transform: rotateY(270deg) translateX(-50px);
        transform-origin: center left;
    }

    i.right {
        transform: rotateY(-270deg) translateX(50px);
        transform-origin: top right;
    }

    i.top {
        transform: rotateX(-270deg) translateY(-50px);
        transform-origin: left top;
    }

/* hover transformations */
/*.cube:hover {
    top: 150px;
}
    */
.cube:hover b.top {
    transform: translateZ(100px) rotateX(-210deg);
    transform-origin: top center;
}

.cube:hover i {
    top: -200px;
}


/*typewriter effect on the entry page*/


@-webkit-keyframes typing {
    from {
        width: 0;
    }
}

@-webkit-keyframes blink-caret {
    50% {
        border-color: transparent;
    }
}

h1 {
    font-family: 'Anonymous Pro', monospace;
    border-right: .02em solid black;
    color: dimgray;
    width: 14.5em;
    width: 12ch;
    margin: 2em 1em;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: typing 10s steps(12, end), blink-caret .5s step-end infinite alternate;
}
