@{
    ViewBag.Title = "Home Page";
}
<script src="~/BEATLES.js"></script>
<link href="~/HOME.css" rel="stylesheet" />

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="beatles"></div>
    </div>

</div>
<div class="beatles"></div>
<div class="row" style="margin-top:25%;margin-bottom:35%;text-align:center;font-size:50px;">
    <div class="col-md-12">
        <p>Presenting the Bitles</p>

    </div>
    <div class="slider"style="margin-top:10%;">
        <div class="slider-row">
        </div>
    </div>

</div>




@*<div class="barVert barDown">

    </div>
    <div class="barHorz barLeft1"></div>
    <div class="barHorz barLeft2"></div>
    <div class="barVert barUp barUp1"></div>
    <div class="barVert barUp barUp2"></div>*@

<div class="row">

</div>
